@keyframes dissolve {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  33% {
    opacity: 0;
  }

  53% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.background {
  bottom: 0;
  display: block;
  left: 0;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

.backgroundPic {
  animation-name: dissolve;
  animation-duration: 96000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.backgroundStatic {
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#comedy {
  background-image: url('/background-comedy.jpg');
}

#fashion {
  background-image: url('/background-fashion.jpg');
}

#mentalHealth {
  background-image: url('/background-mental-health.jpg');
}

#yoga {
  background-image: url('/background-yoga.jpg');
}

#p1 {
  animation-delay: 0ms;
  background-image: url('/background01.jpg');
}

#p2 {
  animation-delay: 8000ms;
  background-image: url('/background02.jpg');
}

#p3 {
  animation-delay: 16000ms;
  background-image: url('/background03.jpg');
}

#p4 {
  animation-delay: 24000ms;
  background-image: url('/background04.jpg');
}

#p5 {
  animation-delay: 32000ms;
  background-image: url('/background05.jpg');
}

#p6 {
  animation-delay: 40000ms;
  background-image: url('/background06.jpg');
}

#p7 {
  animation-delay: 48000ms;
  background-image: url('/background07.jpg');
}

#p8 {
  animation-delay: 56000ms;
  background-image: url('/background08.jpg');
}

#p9 {
  animation-delay: 64000ms;
  background-image: url('/background09.jpg');
}

#p10 {
  animation-delay: 72000ms;
  background-image: url('/background10.jpg');
}

#p11 {
  animation-delay: 80000ms;
  background-image: url('/background11.jpg');
}

#p12 {
  animation-delay: 88000ms;
  background-image: url('/background12.jpg');
}

.card {
  /* max-width: 600px;
  width: 100%; */
}

.card:hover, .nav:hover {
  /* cursor: move; */
}

.grid {
  height: 400px;
}

.grid-item {
  float: left;
  min-width: 300px;
  width: 33%;
}

.grid-item--width2 {
  width: 66%;
}
